# Copy this file to ".env" and adjust values for your local environment.

SERVER_PORT=8081
SPRING_APPLICATION_NAME=user-service

DB_URL=jdbc:postgresql://localhost:5432/trusta_market
DB_USERNAME=trusta_admin
DB_PASSWORD=trusta_admin_pw

JPA_DDL_AUTO=update
JPA_SHOW_SQL=true
JPA_FORMAT_SQL=true
JPA_DIALECT=org.hibernate.dialect.PostgreSQLDialect

JWT_ISSUER_URI=http://localhost:9090/realms/trusta

TRUST_GATEWAY_HEADERS=true
KEYCLOAK_SERVER_URL=http://localhost:9090
KEYCLOAK_REALM=trusta
KEYCLOAK_CLIENT_ID=admin-cli
KEYCLOAK_USERNAME=admin
KEYCLOAK_PASSWORD=admin

EUREKA_SERVER_URL=http://localhost:8761/eureka/
EUREKA_REGISTER=true
EUREKA_FETCH=true
EUREKA_PREFER_IP_ADDRESS=true
